@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dark body {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

/* 在全局样式文件或组件样式文件中添加 */
.vis-button {
  background-color: white; /* 确保按钮有背景色 */
  border: 1px solid #ddd;  /* 添加边框以便更清晰 */
  cursor: pointer;         /* 显示为可点击 */
  padding: 5px;
}